.header h1 {
  color: #fff;
  margin-top: auto;
}
.page-title-hr {
  width: 5%;
  margin-left: 0px;
  height: 4px;
  background-color: whitesmoke;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 2px rgb(11, 101, 180);
}
.a-summary {
  width: 90%;
  margin: 0 auto;
}

.service-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 10px;
}
.info-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 5px;
  font-size: 20px;
  display: flex;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
}
.info-icon {
  margin-left: 20px;
}
.info-details {
  margin: 0px;
  padding: 0px;
  text-align: start;
}
.info-details h3 {
  margin: 10px auto 1px 10px;
  padding: 0px;
}
.info-details p {
  margin: 5px auto 5px 10px;
}

.hobbie {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}
.hobbie-crousel {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  overflow-y: visible;
  overflow-x: auto;
}
.hobbie-crousel::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
.hobbie-crousel::-webkit-scrollbar-track {
  border-radius: 5px;
}
.hobbie-crousel::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 13px;
}
.hobbie-crousel::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.hobbies-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.hobbie-icon-container {
  position: absolute;
  top: -55px;
  left: -15px;
  width: 90px;
  height: 80px;
  background-color: red;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 2px 2px 1px rgb(49, 48, 48);
}
.hobbie-icon {
  width: 100%;
  height: 80px;
}

.hobbie-details {
  margin: 0px;
  padding: 0px;
  width: 350px;
}

.hobbie-details h3 {
  margin-top: 1px;
  margin-left: 120px;
}
.hobbie-details p {
  margin-top: 1px;
  width: 100%;
}
.modal {
  display: block;
}
.active {
  display: none;
}
