.header h1 {
  color: #fff;
  margin-top: auto;
}
.page-title-hr {
  width: 10%;
  margin-left: 0px;
  height: 4px;
  background-color: whitesmoke;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 2px rgb(11, 101, 180);
}
.a-summary {
  width: 90%;
  margin: 0 auto;
}

.service-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 10px;
}
.info-item {
  background-color: #383838;
  text-align: center;
  padding: 20px 5px;
  font-size: 20px;
  display: flex;
  gap: 10px;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.info-icon {
  margin-left: 20px;
}
.info-details {
  margin: 0px;
  padding: 0px;
  text-align: start;
}
.info-details h3 {
  margin: 0px;
  padding: 0px;
}
.info-details p {
  margin: 5px auto;
  padding-right: 10px;
  font-size: 18px;
  text-align: start;
}

.hobbie {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}
.hobbie-crousel {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  overflow-y: visible;
  overflow-x: auto;
}
.hobbie-crousel::-webkit-scrollbar {
  height: 8px;
}
.hobbie-crousel::-webkit-scrollbar-track {
  width: 50px;
  border-radius: 5px;
  background-color: #fff;
}

.hobbie-crousel::-webkit-scrollbar-thumb {
  background: #1f1e1e;
  border-radius: 13px;
}
.hobbie-crousel::-webkit-scrollbar-thumb:hover {
  background: #3d3c3c;
}
.hobbies-item {
  background-color: #383838;
  width: auto;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 23.4px rgba(0, 0, 0, 0.086),
    0 80px 60px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  background-color: #363434;
}

.hobbie-icon-container {
  position: absolute;
  top: -55px;
  left: -15px;
  width: 90px;
  height: 80px;
  background-color: #56565a;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.6));
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.hobbie-icon {
  width: 90%;
  height: 90%;
  border-radius: 100%;
}
.hobbie-icon:hover {
  transform: rotateY(360deg);
  transition: transform 2s;
  transform-style: preserve-3d;
}

.hobbie-details {
  margin: 0px;
  padding: 0px;
  width: 350px;
}

.hobbie-details h3 {
  margin-top: 1px;
  margin-left: 120px;
}
.hobbie-details p {
  margin-top: 1px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}
.modal {
  display: block;
}
.active {
  display: none;
}

.dialogBox {
  width: 100%;
  height: 100%;
}
.MuiPaper-root {
  border-radius: 20px !important;
}
.openDialog {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: start;
  gap: 10px;
  border: 2px solid seagreen;
  border-radius: 20px;
  background-color: rgba(66, 65, 65, 0.411);
}
.dialogContent {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.dialog-icon {
  position: relative;
  width: 20%;
  height: 10%;
}
.closeDialogbtn {
  font-size: 28px !important;
  color: rgb(12, 12, 12);
  cursor: pointer;
}
/* CSS for responsive experience */

@media only screen and (max-width: 480px) {
  .aboutContainer {
    width: 100%;
  }

  .service-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: auto;
  }
  .info-icon {
    margin-left: 10px;
  }
  .info-details h3 {
    width: auto;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 19px;
  }
  .info-details p {
    margin-left: -45px;
    font-size: 16px;
  }

  .hobbie-details {
    width: 280px;
    height: 100px;
  }
  .hobbie-details h3 {
    margin: 48px 0px 10px 10px;
  }
  .hobbie-details p {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .aboutContainer {
    width: 100%;
  }
  .service-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }
}
