.projectNav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}
.projectType {
  padding: 0.5rem 1rem;
  border: none;
  color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.projectType:hover {
  background-color: rgb(17, 11, 90);
}
.activeProj {
  background-color: rgb(17, 11, 90);
}
.projectBody {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  box-sizing: border-box;
}

.card {
  margin-top: 20px;
  width: 230px;
  height: 400px;
  background-color: #1f1a1a;
  padding: 14px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 0.1s, transform 0.1s;
}
.card:hover {
  box-shadow: 0px 0px 30px rgba(117, 116, 116, 0.6);
  cursor: pointer;
}
.card-view {
  position: relative;
  width: fit-content;
  height: 50%;
}
.card-img {
  width: 100%;
  height: 100%;
}
.card-view:hover .card-img {
  opacity: 0.5;
  transition: all 0.3s ease;
}

.displayProj {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  gap: 10px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.card-view:hover .displayProj {
  display: flex;
}
.axy:hover {
  scale: 1.2;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 100%;
  transition: all ease 0.2s;
}
.eye:hover {
  scale: 1.4;
  color: #fff;
  border: none;
  border-radius: 100%;
  transition: all ease 0.3s;
}
.card-detail {
  width: 100%;
  height: 45%;
  margin: 0 auto;
  background-color: aquamarine;
}
.crd-p-typ {
  height: 30px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  border-radius: 10px;
  position: absolute;
  top: 180px;
  left: 33%;
  background-color: #1f1a1a;
}
.p-typ {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}
.card-detail h4 {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  color: #181818;
  margin: 20px auto;
}
.card-detail p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  margin: 5px;
  width: fit-content;
}
.card-more {
  display: flex;
  width: 100%;
  margin: 5px;
  cursor: pointer;
}
.card-more span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #ffb400;
}

@media only screen and (max-width: 624px) {
  .projectBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projectNav{
    width: auto;
  }
}

@media only screen and (min-width:624px) and (max-width: 864px ) {
  .projectBody {
    display: grid;
    align-items:center;
    padding: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    box-sizing: border-box;
  }
}
