.page-title-hr {
  width: 10%;
  margin-left: 0px;
  height: 8px;
  background-color: whitesmoke;
  border: none;
  border-radius: 20px;
}
.experience {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: -5px;
}
.experience h3 {
  color: #fff;
}
.epx-stepper-li {
  position: relative;
  list-style: none;
  font-size: 16px;
  text-align: left;
  margin-bottom: 5px;
}
.epx-stepper-li::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  height: 6px;
  width: 6px;
  background-color: #ffb400;
  border-radius: 50%;
  box-shadow: 0 0 0 4px;
}

.sub-content {
  width: 90%;
  margin-left: 25px;
  margin-top: -10px;
  height: auto;
  box-sizing: border-box;
  padding: 2px 2px 20px 3px;
}
.epx-item1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.epxcompany {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  margin: 5px;
  margin-left: 5px;
}
.eduInstitute {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 12px;
}
.edudetail {
  margin: 10px auto;
  margin-top: -5px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.epx-role-work {
  text-transform: capitalize;
  margin: 3px 5px 15px 10px;
  color: #c4c3ca;
}
.item-separator {
  width: 45%;
  margin-left: 0px;
  margin-bottom: 18px;
  border: 1.5px solid #f0f0f6;
}
.p-span {
  color: #fff;
  margin: 8px;
  margin-left: 10px;
}
.periodspan {
  color: #fff;
  margin: 8px;
  
}
.stepper-ul {
  margin: 0;
  padding-left: 10px;
  box-sizing: border-box;
  position: relative;
}
.stepper-li {
  position: relative;
  list-style: none;
  margin-left: 20px;
}
.stepper-li:not(:last-child)::before {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  left: -22px;
  width: 1px;
  height: calc(100% + 35px);
  background-color: red;
}

.stepper-li::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  height: 6px;
  width: 6px;
  background-color: #ffb400;
  border-radius: 50%;
  box-shadow: 0 0 0 4px;
}
.skillBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skillsContainer {
  width: 80%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #c4c3ca;
  background-color: #b3b2bbcc;
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.6));
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.skillIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.skillIcon:hover {
  transform: rotate(20deg);
  scale: 1.3;
  transition: all ease 0.2s;
}
.skill-name {
  text-align: center;
}

.accomplish {
  margin-left: 40px;
}
.progress-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

@media only screen and (max-width: 624px) {
  .skillsContainer {
    width: 100%;
  }
}
@media only screen and (max-width: 356px) {
  .skillsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
