.nav-bar {
  position: absolute;
  bottom: auto;
  top: 0;
  left: auto;
  right: 0;
  width: max-content;
  border-radius: 0 20px;
  padding: 0 20px;
  box-shadow: none;
  background-color: #817e7e;
  border-left:  1px solid #c4c3ca;
  border-bottom: 1px solid #c4c3ca;
  
}
.nav-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  
}
.nav-ul li {
  list-style: none;
  margin: 0 15px;
  font-size: large;
  font-weight: 600;
  color: aliceblue;
}

.nav-ul a {
  color: black;
  text-decoration: none;
}

@media only screen and (min-width: 480px) and (max-width: 640px) {
  .nav-bar {
    width: 93%;
    border-radius: 10px 10px 0 0;
    background-color: #7c7c7d;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: auto;
    top: auto;
    height: max-content;
    bottom: 0;
    z-index: 12;
  }
}

@media only screen and (max-width: 480px) {
  .nav-bar {
    width: 90.6%;
    border-radius: 10px 10px 0 0;
    background-color: #7c7c7d;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: auto;
    top: auto;
    height: max-content;
    bottom: 0;
    z-index: 12;
  }
}
