.expandInfo {
  display: none;
}
.expandAvatarInfo {
  display: block;
  overflow: hidden;
  transition: all 0.3s;
}

.expandInfobtn {
  display: flex;
  align-items: center;
  border: none;
  height: 20px;
  color: rgb(37, 140, 230);
  background-color: transparent;
  transform: rotate(0deg);
}

.expandInfobtnrotate {
  display: flex;
  align-items: center;
  border: none;
  height: 20px;
  color: rgb(37, 140, 230);
  background-color: transparent;
  transform: rotate(180deg);
}
.profile {
  width: 80%;
  height: 100%;
  margin: 40px auto -10px auto;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.avatar-box {
  width: 70%;
  margin: 0 auto;
}
.dp {
  width: 100%;
  border-radius: 30px;
}
.avatar-info {
  width: 100%;
  text-align: center;
}

.avatar-bio p {
  width: 100%;
  margin: 8px auto;
  border-radius: 40px;
  background-color: #4d4d4e;
}
.info-seperator {
  width: 70%;
  height: 2px;
  margin-bottom: 30px;
  background-color: rgb(17, 16, 16);
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px aliceblue;
}
.social-profiles {
  width: 80%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
.social-icon {
  width: 35px;
  text-align: center;
  cursor: pointer;
}
.social-icon:hover {
  scale: 1.6;
  border-radius: 50%;
}
.social-profiles a {
  text-decoration: none;
  color: transparent;
}
.social-profiles a:hover {
  text-decoration: none;
  box-shadow: 2px;
}
.expcountdiv {
  width: 90%;
  border-radius: 5px;
  border: 2px solid #767579;
  display: flex;
  align-items: center;
  margin: 10px auto;
  margin-top: 20px;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.7));
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.downloadCV-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.downloadCV {
  background-color: #575757;
  color: aliceblue;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 10px 0px;
    box-sizing: border-box;
  }
  .avatar-box {
    width: 100px;
    margin: 0px;
    padding: 0px;
  }
  .dp {
    width: 80px;
    border-radius: 30px;
  }
  .avatar-info {
    width: auto;
    text-align: center;
  }
  .myname {
    width: auto;
    margin: 0 10px;
  }
  .avatar-bio p {
    margin-bottom: 5px;
  }
  .expandInfo {
    position: absolute;
    margin: 0px;
    padding: 0px;
    bottom: 2px;
    left: 42%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-profiles {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
  }
  .info-seperator {
    width: 100%;
    height: 4px;
    background-color: black;
    border: none;
  }
  .expandAvatarInfo {
    display: none;
  }
  .closeExpand {
    background-color: #38383a;
    animation-timing-function: ease-in-out;
  }
  .downloadCV-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .expcountdiv {
    width: auto;
    margin: 10px 20px;
    margin-top: 20px;
    justify-content: center;
  }
}

@media only screen and (max-width: 480px) {
  .profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 10px 0px;
    box-sizing: border-box;
  }
  .avatar-box {
    width: 100px;
    margin: 0px;
    padding: 0px;
  }
  .dp {
    width: 80px;
    border-radius: 30px;
  }
  .avatar-info {
    width: auto;
    text-align: center;
  }
  .myname {
    width: auto;
    margin: 0 10px;
  }
  .avatar-bio p {
    margin-bottom: 5px;
  }
  .expandInfo {
    position: absolute;
    margin: 0px;
    padding: 0px;
    bottom: 2px;
    left: 42%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-profiles {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
  }
  .info-seperator {
    width: 100%;
    height: 4px;
    background-color: black;
    border: none;
  }
  .expandAvatarInfo {
    display: none;
  }
  .closeExpand {
    transition: ease-in-out 5s;
    background-color: #38383a;
    overflow: hidden;
    transition: all 0.3s;
  }
}
