.main-container {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 25px;
}

.sidenav-container {
  width: 25%;
  background-color: rgb(66, 64, 64);
  border-radius: 25px;
  position: sticky;
  height: 100%;
  top: 60px;
}
.outlet-container {
  width: 75%;
  background-color: #492828;
  height: auto;
  position: relative;
  border-radius: 25px;
  min-width: 75%;
  margin: 0;
  padding: 40px;
  top: 60px;
  box-sizing: border-box;
  margin-bottom: 60px;
}

@media only screen and (max-width: 1024px) {
  .sidenav-container {
    display: block;
    position: absolute;
    top: 0px;
    width: 98%;
    height: auto;
    z-index: 12;
  }

  .outlet-container {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    top: 135px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .sidenav-container {
    display: block;
    position: absolute;
    top: 0px;
    width: 98%;
    height: auto;
    z-index: 12;
  }
  .outlet-container {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    top: 140px;
    padding: 35px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .sidenav-container {
    display: block;
    position: absolute;
    top: 0px;
    width: 98%;
    height: auto;
    z-index: 12;
  }

  .outlet-container {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    top: 140px;
  }
}
@media only screen and (min-width: 240px) and (max-width: 360px) {
  .sidenav-container {
    display: block;
    position: absolute;
    top: 0px;
    width: 98%;
    height: auto;
    z-index: 12;
  }

  .outlet-container {
    width: max-content;
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    top: 160px;
  }
}
