.main-container {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.sidenav-container {
  width: 25%;
  background-color: #1f1f1f;
  border-radius: 25px;
  position: sticky;
  height: 700px;
  top: 60px;
  border:  0.1rem solid #414142;
}
.outlet-container {
  width: 75%;
  background-color: #1f1f1f;
  height: auto;
  position: relative;
  border-radius: 25px;
  min-width: 75%;
  margin: 0;
  padding: 40px;
  top: 60px;
  box-sizing: border-box;
  margin-bottom: 60px;
  border:  2px solid #414142;
}

@media only screen and (max-width: 1024px) {
  .main-container {
    flex-direction: column;
    max-width: 950px;
    align-items: center;
  }
  .sidenav-container {
    position: absolute;
    width: 88%;
    top: 30px;
    height: auto;
    z-index: 12;
  }

  .outlet-container {
    width: 90%;
    box-sizing: border-box;
    top: 170px;
    margin-bottom: 190px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 750px) {
  .main-container {
    flex-direction: column;
    max-width: 750px;
    align-items: center;
  }

  .sidenav-container {
    position: absolute;
    top: 30px;
    width: 90%;
    height: auto;
    z-index: 12;
  }
  .outlet-container {
    width: 93%;
    position: relative;
    box-sizing: border-box;
    top: 165px;
    padding: 35px;
    margin-bottom: 195px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 640px) {
  .main-container {
    flex-direction: column;
    max-width: 700px;
    align-items: center;
  }

  .sidenav-container {
    position: absolute;
    top: 20px;
    width: 88%;
    height: auto;
    z-index: 12;
  }
  .outlet-container {
    width: 90%;
    position: relative;
    box-sizing: border-box;
    top: 155px;
    padding: 35px;
    margin-bottom: 195px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
  .main-container {
    flex-direction: column;
    max-width: 700px;
    align-items: center;
  }
  .sidenav-container {
    position: absolute;
    top: 18px;
    width: 92%;
    height: auto;
    z-index: 12;
  }
  .outlet-container {
    width: 96%;
    position: relative;
    box-sizing: border-box;
    top: 155px;
    padding: 25px;
    margin-bottom: 210px;
  }
}

@media only screen and (min-width: 240px) and (max-width: 363px) {
  .main-container {
    flex-direction: column;
    max-width: 500px;
    align-items: center;
  }
  .sidenav-container {
    position: absolute;
    top: 18px;
    width: 92%;
    height: auto;
    z-index: 12;
  }

  .outlet-container {
    width: 98%;
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    top: 180px;
    bottom: 20px;
    margin-bottom: 210px;
  }
}
